<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userlevel</key>
	<array>
		<dict>
			<key>level</key>
			<string>1</string>
			<key>exp</key>
			<string>0</string>
		</dict>
		<dict>
			<key>level</key>
			<string>2</string>
			<key>exp</key>
			<string>120</string>
		</dict>
		<dict>
			<key>level</key>
			<string>3</string>
			<key>exp</key>
			<string>245</string>
		</dict>
		<dict>
			<key>level</key>
			<string>4</string>
			<key>exp</key>
			<string>375</string>
		</dict>
		<dict>
			<key>level</key>
			<string>5</string>
			<key>exp</key>
			<string>510</string>
		</dict>
		<dict>
			<key>level</key>
			<string>6</string>
			<key>exp</key>
			<string>650</string>
		</dict>
		<dict>
			<key>level</key>
			<string>7</string>
			<key>exp</key>
			<string>795</string>
		</dict>
		<dict>
			<key>level</key>
			<string>8</string>
			<key>exp</key>
			<string>945</string>
		</dict>
		<dict>
			<key>level</key>
			<string>9</string>
			<key>exp</key>
			<string>1100</string>
		</dict>
		<dict>
			<key>level</key>
			<string>10</string>
			<key>exp</key>
			<string>1260</string>
		</dict>
		<dict>
			<key>level</key>
			<string>11</string>
			<key>exp</key>
			<string>1425</string>
		</dict>
		<dict>
			<key>level</key>
			<string>12</string>
			<key>exp</key>
			<string>1595</string>
		</dict>
		<dict>
			<key>level</key>
			<string>13</string>
			<key>exp</key>
			<string>1770</string>
		</dict>
		<dict>
			<key>level</key>
			<string>14</string>
			<key>exp</key>
			<string>1950</string>
		</dict>
		<dict>
			<key>level</key>
			<string>15</string>
			<key>exp</key>
			<string>2135</string>
		</dict>
		<dict>
			<key>level</key>
			<string>16</string>
			<key>exp</key>
			<string>2325</string>
		</dict>
		<dict>
			<key>level</key>
			<string>17</string>
			<key>exp</key>
			<string>2520</string>
		</dict>
		<dict>
			<key>level</key>
			<string>18</string>
			<key>exp</key>
			<string>2720</string>
		</dict>
		<dict>
			<key>level</key>
			<string>19</string>
			<key>exp</key>
			<string>2925</string>
		</dict>
		<dict>
			<key>level</key>
			<string>20</string>
			<key>exp</key>
			<string>3135</string>
		</dict>
		<dict>
			<key>level</key>
			<string>21</string>
			<key>exp</key>
			<string>3350</string>
		</dict>
		<dict>
			<key>level</key>
			<string>22</string>
			<key>exp</key>
			<string>3570</string>
		</dict>
		<dict>
			<key>level</key>
			<string>23</string>
			<key>exp</key>
			<string>3795</string>
		</dict>
		<dict>
			<key>level</key>
			<string>24</string>
			<key>exp</key>
			<string>4025</string>
		</dict>
		<dict>
			<key>level</key>
			<string>25</string>
			<key>exp</key>
			<string>4260</string>
		</dict>
		<dict>
			<key>level</key>
			<string>26</string>
			<key>exp</key>
			<string>4500</string>
		</dict>
		<dict>
			<key>level</key>
			<string>27</string>
			<key>exp</key>
			<string>4745</string>
		</dict>
		<dict>
			<key>level</key>
			<string>28</string>
			<key>exp</key>
			<string>4995</string>
		</dict>
		<dict>
			<key>level</key>
			<string>29</string>
			<key>exp</key>
			<string>5250</string>
		</dict>
		<dict>
			<key>level</key>
			<string>30</string>
			<key>exp</key>
			<string>5510</string>
		</dict>
		<dict>
			<key>level</key>
			<string>31</string>
			<key>exp</key>
			<string>5775</string>
		</dict>
		<dict>
			<key>level</key>
			<string>32</string>
			<key>exp</key>
			<string>6045</string>
		</dict>
		<dict>
			<key>level</key>
			<string>33</string>
			<key>exp</key>
			<string>6320</string>
		</dict>
		<dict>
			<key>level</key>
			<string>34</string>
			<key>exp</key>
			<string>6600</string>
		</dict>
		<dict>
			<key>level</key>
			<string>35</string>
			<key>exp</key>
			<string>6885</string>
		</dict>
		<dict>
			<key>level</key>
			<string>36</string>
			<key>exp</key>
			<string>7175</string>
		</dict>
		<dict>
			<key>level</key>
			<string>37</string>
			<key>exp</key>
			<string>7470</string>
		</dict>
		<dict>
			<key>level</key>
			<string>38</string>
			<key>exp</key>
			<string>7770</string>
		</dict>
		<dict>
			<key>level</key>
			<string>39</string>
			<key>exp</key>
			<string>8075</string>
		</dict>
		<dict>
			<key>level</key>
			<string>40</string>
			<key>exp</key>
			<string>8385</string>
		</dict>
		<dict>
			<key>level</key>
			<string>41</string>
			<key>exp</key>
			<string>8700</string>
		</dict>
		<dict>
			<key>level</key>
			<string>42</string>
			<key>exp</key>
			<string>9020</string>
		</dict>
		<dict>
			<key>level</key>
			<string>43</string>
			<key>exp</key>
			<string>9345</string>
		</dict>
		<dict>
			<key>level</key>
			<string>44</string>
			<key>exp</key>
			<string>9675</string>
		</dict>
		<dict>
			<key>level</key>
			<string>45</string>
			<key>exp</key>
			<string>10010</string>
		</dict>
		<dict>
			<key>level</key>
			<string>46</string>
			<key>exp</key>
			<string>10350</string>
		</dict>
		<dict>
			<key>level</key>
			<string>47</string>
			<key>exp</key>
			<string>10695</string>
		</dict>
		<dict>
			<key>level</key>
			<string>48</string>
			<key>exp</key>
			<string>11045</string>
		</dict>
		<dict>
			<key>level</key>
			<string>49</string>
			<key>exp</key>
			<string>11400</string>
		</dict>
		<dict>
			<key>level</key>
			<string>50</string>
			<key>exp</key>
			<string>11760</string>
		</dict>
	</array>
	<key>usercontribution</key>
	<array>
		<dict>
			<key>level</key>
			<string>1</string>
			<key>contribution</key>
			<string>0</string>
			<key>dog</key>
			<string>汪小二</string>
			<key>cat</key>
			<string>喵小二</string>
		</dict>
		<dict>
			<key>level</key>
			<string>2</string>
			<key>contribution</key>
			<string>480</string>
			<key>dog</key>
			<string>汪小粉</string>
			<key>cat</key>
			<string>喵小奴</string>
		</dict>
		<dict>
			<key>level</key>
			<string>3</string>
			<key>contribution</key>
			<string>1140</string>
			<key>dog</key>
			<string>汪侍卫</string>
			<key>cat</key>
			<string>喵侍卫</string>
		</dict>
		<dict>
			<key>level</key>
			<string>4</string>
			<key>contribution</key>
			<string>2064</string>
			<key>dog</key>
			<string>汪总管</string>
			<key>cat</key>
			<string>喵总管</string>
		</dict>
		<dict>
			<key>level</key>
			<string>5</string>
			<key>contribution</key>
			<string>3252</string>
			<key>dog</key>
			<string>汪骑士</string>
			<key>cat</key>
			<string>喵骑士</string>
		</dict>
		<dict>
			<key>level</key>
			<string>6</string>
			<key>contribution</key>
			<string>4704</string>
			<key>dog</key>
			<string>汪护法</string>
			<key>cat</key>
			<string>喵护法</string>
		</dict>
		<dict>
			<key>level</key>
			<string>7</string>
			<key>contribution</key>
			<string>6420</string>
			<key>dog</key>
			<string>汪精灵</string>
			<key>cat</key>
			<string>喵精灵</string>
		</dict>
		<dict>
			<key>level</key>
			<string>8</string>
			<key>contribution</key>
			<string>8400</string>
			<key>dog</key>
			<string>汪天使</string>
			<key>cat</key>
			<string>喵天使</string>
		</dict>
	</array>
</dict>
</plist>
