<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>101</key>
		<string>布偶猫</string>
		<key>102</key>
		<string>波斯猫</string>
		<key>103</key>
		<string>挪威猫</string>
		<key>104</key>
		<string>缅因猫</string>
		<key>105</key>
		<string>伯曼猫</string>
		<key>106</key>
		<string>索马利猫</string>
		<key>107</key>
		<string>土耳其梵猫</string>
		<key>108</key>
		<string>美国短尾猫</string>
		<key>109</key>
		<string>西伯利亚森林猫</string>
		<key>110</key>
		<string>巴厘猫</string>
		<key>111</key>
		<string>土耳其安哥拉猫</string>
		<key>112</key>
		<string>褴褛猫</string>
		<key>113</key>
		<string>拉邦猫</string>
		<key>114</key>
		<string>暹罗猫</string>
		<key>115</key>
		<string>苏格兰折耳猫</string>
		<key>116</key>
		<string>短毛猫</string>
		<key>117</key>
		<string>俄罗斯蓝猫</string>
		<key>118</key>
		<string>孟买猫</string>
		<key>119</key>
		<string>埃及猫</string>
		<key>120</key>
		<string>斯芬克斯猫</string>
		<key>121</key>
		<string>缅甸猫</string>
		<key>122</key>
		<string>阿比西尼亚猫</string>
		<key>123</key>
		<string>新加坡猫</string>
		<key>124</key>
		<string>中国狸花猫</string>
		<key>125</key>
		<string>日本短尾猫</string>
		<key>126</key>
		<string>东奇尼猫</string>
		<key>127</key>
		<string>卷毛猫</string>
		<key>128</key>
		<string>马恩岛猫</string>
		<key>129</key>
		<string>奥西猫</string>
		<key>130</key>
		<string>沙特尔猫</string>
		<key>131</key>
		<string>呵叻猫</string>
		<key>132</key>
		<string>美国刚毛猫</string>
		<key>133</key>
		<string>哈瓦那棕猫</string>
		<key>134</key>
		<string>波米拉猫</string>
		<key>135</key>
		<string>东方猫</string>
		<key>136</key>
		<string>混血</string>
	</dict>
	<key>2</key>
	<dict>
		<key>201</key>
		<string>泰迪犬</string>
		<key>202</key>
		<string>博美犬</string>
		<key>203</key>
		<string>马尔济斯犬</string>
		<key>204</key>
		<string>约克夏梗</string>
		<key>205</key>
		<string>贵宾犬</string>
		<key>206</key>
		<string>蝴蝶犬</string>
		<key>207</key>
		<string>八哥犬</string>
		<key>208</key>
		<string>西施犬</string>
		<key>209</key>
		<string>比熊犬</string>
		<key>210</key>
		<string>北京犬</string>
		<key>211</key>
		<string>迷你杜宾</string>
		<key>212</key>
		<string>拉萨犬</string>
		<key>213</key>
		<string>冠毛犬</string>
		<key>214</key>
		<string>小型雪纳瑞</string>
		<key>215</key>
		<string>柯基犬</string>
		<key>216</key>
		<string>巴吉度犬</string>
		<key>217</key>
		<string>哈士奇</string>
		<key>218</key>
		<string>松狮</string>
		<key>219</key>
		<string>牧羊犬</string>
		<key>220</key>
		<string>柴犬</string>
		<key>221</key>
		<string>斗牛犬</string>
		<key>222</key>
		<string>萨摩耶犬</string>
		<key>223</key>
		<string>腊肠犬</string>
		<key>224</key>
		<string>猎兔犬</string>
		<key>225</key>
		<string>惠比特犬</string>
		<key>226</key>
		<string>拉布拉多</string>
		<key>227</key>
		<string>大麦町犬（斑点狗）</string>
		<key>228</key>
		<string>爱斯基摩犬</string>
		<key>229</key>
		<string>沙皮犬</string>
		<key>230</key>
		<string>山地犬</string>
		<key>231</key>
		<string>无毛犬</string>
		<key>232</key>
		<string>雪纳瑞</string>
		<key>233</key>
		<string>藏獒</string>
		<key>234</key>
		<string>史毕诺犬</string>
		<key>235</key>
		<string>卡斯罗</string>
		<key>236</key>
		<string>罗威纳犬</string>
		<key>237</key>
		<string>阿拉斯加雪橇犬</string>
		<key>238</key>
		<string>金毛</string>
		<key>239</key>
		<string>柯利犬</string>
		<key>240</key>
		<string>波尔多犬</string>
		<key>241</key>
		<string>法国狼犬</string>
		<key>242</key>
		<string>雪达犬</string>
		<key>243</key>
		<string>奇努克犬</string>
		<key>244</key>
		<string>威玛犬</string>
		<key>245</key>
		<string>比利时马林诺斯犬</string>
		<key>246</key>
		<string>寻回犬</string>
		<key>247</key>
		<string>浣熊犬</string>
		<key>248</key>
		<string>迦南犬</string>
		<key>249</key>
		<string>猎犬</string>
		<key>250</key>
		<string>梗犬</string>
		<key>251</key>
		<string>牧羊犬</string>
		<key>252</key>
		<string>吉娃娃</string>
		<key>253</key>
		<string>混血</string>
	</dict>
	<key>3</key>
	<dict>
		<key>301</key>
		<string>其他</string>
	</dict>
</dict>
</plist>
