<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>que</key>
			<string>萌主是什么？</string>
			<key>ans</key>
			<string>“萌主”是地球人对宠物星球上的萌宠们的爱称，守护萌主就是地球人的使命。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>联萌是什么？</string>
			<key>ans</key>
			<string>联萌是虔诚的地球人为萌主建立的小圈子，喜欢萌主的小伙伴可以加入萌主的联萌，成为萌主的粉丝，一起追随、爱护萌主。地球人既可以为心爱的宠物建立一个联萌，也可以选择加入其他萌主的联萌。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何加入联萌？</string>
			<key>ans</key>
			<string>点击萌主资料右上角 “…”，在弹窗中点击加入。加入新的联萌是免费的，但是每个地球人最多能加入10个萌主的联萌哦~</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何创建新的联萌？</string>
			<key>ans</key>
			<string>在侧边栏点击用户头像进入个人档案，点击联萌列表底部的加号创建新的联萌。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何退出联萌？</string>
			<key>ans</key>
			<string>在侧边栏点击用户头像进入个人档案，在要退出的联萌上向左滑动后点击退出。需要注意的是，地球人不能退出自己创建的联萌和当前仅有的联萌。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>que</key>
			<string>联萌贡献度是什么？</string>
			<key>ans</key>
			<string>联萌贡献度体现了地球人对萌主做出的贡献，给萌主送礼物会增加贡献度。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>什么是贡献排行榜？</string>
			<key>ans</key>
			<string>是联萌成员贡献度的排行榜，分为日贡献榜、周贡献榜、月贡献榜和总贡献榜。周榜、月榜排行前十的小伙伴可得到奖励，每个榜单在榜单周期结束当天的24:00结算并发放奖励。（暂未开放）</string>
		</dict>
		<dict>
			<key>que</key>
			<string>什么是联萌的头衔？</string>
			<key>ans</key>
			<string>联萌的头衔分为“凉粉、淡粉、狠粉、灰常粉、超级粉、铁杆粉、脑残粉、骨灰粉”8个等级，头衔会和用户昵称一起出现在联萌的各个角落，显示出你的特殊地位，头衔升级时还会获得奖励呦~</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>que</key>
			<string>萌主人气值是什么？</string>
			<key>ans</key>
			<string>人气值是体现萌主在宠物星球受欢迎程度的数值。人气排名高的萌主是宠物星球的大明星，会得到首页推荐的明星待遇，还有机会参加宠物星球举办的粉丝活动呢~。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何增加人气值？</string>
			<key>ans</key>
			<string>萌主收到礼物、被赞、被评论、被关注会增加人气值。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>人气值为什么会降低？</string>
			<key>ans</key>
			<string>萌主收到捣乱礼物和被捣捣乱都会降低人气值。 </string>
		</dict>
		<dict>
			<key>que</key>
			<string>什么是星球人气排行榜？</string>
			<key>ans</key>
			<string>星球人气排行榜是萌主的人气排行榜，分成日人气榜、周人气榜、月人气榜和总人气榜。在每个榜单排行前三的萌主可得到金币奖励，每个榜单会在榜单周期结束当天的24:00结算并发放奖励。（暂未开放）</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>que</key>
			<string>如何获得经验值？</string>
			<key>ans</key>
			<string>星球里的地球人每天登录应用、发布新照片、评论照片和送礼物、萌印象、萌叫叫、摇一摇都可以获得一定数量的经验值。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>经验值有什么用？</string>
			<key>ans</key>
			<string>经验值体现了地球人在宠物星球的独特资历，经验值可以提升经验等级，等级升级后会得到的奖励金币。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>经验值等级是什么？</string>
			<key>ans</key>
			<string>经验值等级分成50个等级，在经验值达到当前级别的上限后会升级并获得奖励金币，等级越高升级时得到的奖励金币越多。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>que</key>
			<string>如何获得金币？</string>
			<key>ans</key>
			<string>有两种方式可以获得金币&amp;●登录应用、分享照片、摇一摇、萌印象、游乐园、经验等级提升、官衔提升和参与宠物星球丰富的活动均有机会获得金币奖励。&amp;●充值来拥有更多金币！（暂未开放）</string>
			<key>ans1</key>
			<string>登录应用、分享照片、摇一摇、萌印象、游乐园、经验等级提升、官衔提升和参与宠物星球丰富的活动均有机会获得金币奖励。</string>
			<key>ans2</key>
			<string>充值来拥有更多金币！（暂未开放）</string>
		</dict>
		<dict>
			<key>que</key>
			<string>金币可以用来做什么？</string>
			<key>ans</key>
			<string>金币可以兑换成礼物送给萌主增加人气，也可以用来加入新的联萌。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>que</key>
			<string>什么是虚拟礼物和现实礼物？</string>
			<key>ans</key>
			<string>宠物星球的礼物分为虚拟礼物和现实礼物，虚拟礼物仅存在于宠物星球的世界中，现实礼物是派送到主人家里的真实礼品，收到虚拟礼物和现实礼物都可以增加萌主的人气值。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>为什么需要送礼物？</string>
			<key>ans</key>
			<string>给萌主送礼物可以增加萌主的人气和地球人的贡献度，粉丝们可以共同努力将萌主打造成宠物星球的大明星。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何送礼物？</string>
			<key>ans</key>
			<string>您可以送礼物弹窗中点击礼物直接送出，也可以先在商城购买完礼物之后在萌主界面送出礼物。</string>
		</dict>
		<dict>
			<key>que</key>
			<string>如何送出现实礼物？</string>
			<key>ans</key>
			<string>首先在礼物商城或送礼物弹框中购买礼物并选择赠送，之后萌主的经纪人会收到填写收货地址的私信通知，宠物星球的工作人员会在得到收货地址后的5个工作日内发出快递并私信通知您快递单号，经纪人收到礼物后会晒出礼物来感谢热心肠的地球人的。</string>
		</dict>
	</array>
</array>
</plist>
