<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>good</key>
	<dict>
		<key>level0</key>
		<array>
			<dict>
				<key>no</key>
				<string>1101</string>
				<key>name</key>
				<string>毛线球</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>20</string>
				<key>add_rq</key>
				<string>20</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1102</string>
				<key>name</key>
				<string>飞盘</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>20</string>
				<key>add_rq</key>
				<string>20</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1103</string>
				<key>name</key>
				<string>铃铛</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>24</string>
				<key>add_rq</key>
				<string>28</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1104</string>
				<key>name</key>
				<string>蝴蝶结</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>24</string>
				<key>add_rq</key>
				<string>28</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1105</string>
				<key>name</key>
				<string>逗猫棒</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>28</string>
				<key>add_rq</key>
				<string>33</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1106</string>
				<key>name</key>
				<string>棒球</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>28</string>
				<key>add_rq</key>
				<string>33</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1107</string>
				<key>name</key>
				<string>糖果</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>28</string>
				<key>add_rq</key>
				<string>33</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
		</array>
		<key>level1</key>
		<array>
			<dict>
				<key>no</key>
				<string>1201</string>
				<key>name</key>
				<string>猫饼干</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>36</string>
				<key>add_rq</key>
				<string>48</string>
				<key>ratio</key>
				<string>1.33</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1202</string>
				<key>name</key>
				<string>肉包子</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>36</string>
				<key>add_rq</key>
				<string>48</string>
				<key>ratio</key>
				<string>1.33</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1203</string>
				<key>name</key>
				<string>宠物小馒头</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>36</string>
				<key>add_rq</key>
				<string>48</string>
				<key>ratio</key>
				<string>1.33</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1204</string>
				<key>name</key>
				<string>磨牙棒</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>36</string>
				<key>add_rq</key>
				<string>48</string>
				<key>ratio</key>
				<string>1.33</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1205</string>
				<key>name</key>
				<string>宠物引绳</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>40</string>
				<key>add_rq</key>
				<string>58</string>
				<key>ratio</key>
				<string>1.45</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1206</string>
				<key>name</key>
				<string>宠物碗</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>40</string>
				<key>add_rq</key>
				<string>58</string>
				<key>ratio</key>
				<string>1.45</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1201</string>
				<key>name</key>
				<string>魔法棒</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>45</string>
				<key>add_rq</key>
				<string>68</string>
				<key>ratio</key>
				<string>1.5</string>
			</dict>
		</array>
		<key>level2</key>
		<array>
			<dict>
				<key>no</key>
				<string>1301</string>
				<key>name</key>
				<string>围巾</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>58</string>
				<key>add_rq</key>
				<string>88</string>
				<key>ratio</key>
				<string>1.5</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1302</string>
				<key>name</key>
				<string>乔巴帽子</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>58</string>
				<key>add_rq</key>
				<string>88</string>
				<key>ratio</key>
				<string>1.5</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1303</string>
				<key>name</key>
				<string>香波</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>65</string>
				<key>add_rq</key>
				<string>100</string>
				<key>ratio</key>
				<string>1.55</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1304</string>
				<key>name</key>
				<string>护毛素</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>65</string>
				<key>add_rq</key>
				<string>100</string>
				<key>ratio</key>
				<string>1.55</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1305</string>
				<key>name</key>
				<string>宠物服饰</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>70</string>
				<key>add_rq</key>
				<string>110</string>
				<key>ratio</key>
				<string>1.6</string>
			</dict>
		</array>
		<key>level3</key>
		<array>
			<dict>
				<key>no</key>
				<string>1401</string>
				<key>name</key>
				<string>吹风机</string>
				<key>level</key>
				<string>4</string>
				<key>price</key>
				<string>85</string>
				<key>add_rq</key>
				<string>135</string>
				<key>ratio</key>
				<string>1.6</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1402</string>
				<key>name</key>
				<string>猫窝</string>
				<key>level</key>
				<string>4</string>
				<key>price</key>
				<string>100</string>
				<key>add_rq</key>
				<string>166</string>
				<key>ratio</key>
				<string>1.66</string>
			</dict>
			<dict>
				<key>no</key>
				<string>1403</string>
				<key>name</key>
				<string>狗窝</string>
				<key>level</key>
				<string>4</string>
				<key>price</key>
				<string>100</string>
				<key>add_rq</key>
				<string>166</string>
				<key>ratio</key>
				<string>1.66</string>
			</dict>
		</array>
	</dict>
	<key>bad</key>
	<dict>
		<key>level0</key>
		<array>
			<dict>
				<key>no</key>
				<string>2101</string>
				<key>name</key>
				<string>臭鸡蛋</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>40</string>
				<key>add_rq</key>
				<string>-5</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2102</string>
				<key>name</key>
				<string>石头</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>42</string>
				<key>add_rq</key>
				<string>-8</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2103</string>
				<key>name</key>
				<string>水气球</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>42</string>
				<key>add_rq</key>
				<string>-8</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2104</string>
				<key>name</key>
				<string>毛毛虫</string>
				<key>level</key>
				<string>1</string>
				<key>price</key>
				<string>46</string>
				<key>add_rq</key>
				<string>-10</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
		</array>
		<key>level1</key>
		<array>
			<dict>
				<key>no</key>
				<string>2201</string>
				<key>name</key>
				<string>鸡毛掸子</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>50</string>
				<key>add_rq</key>
				<string>-15</string>
				<key>ratio</key>
				<string>1.1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2202</string>
				<key>name</key>
				<string>惨叫鸡</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>50</string>
				<key>add_rq</key>
				<string>-15</string>
				<key>ratio</key>
				<string>1.1</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2203</string>
				<key>name</key>
				<string>便便</string>
				<key>level</key>
				<string>2</string>
				<key>price</key>
				<string>58</string>
				<key>add_rq</key>
				<string>-20</string>
				<key>ratio</key>
				<string>1.09</string>
			</dict>
		</array>
		<key>level2</key>
		<array>
			<dict>
				<key>no</key>
				<string>2301</string>
				<key>name</key>
				<string>仙人球</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>70</string>
				<key>add_rq</key>
				<string>-28</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>no</key>
				<string>2302</string>
				<key>name</key>
				<string>炸弹</string>
				<key>level</key>
				<string>3</string>
				<key>price</key>
				<string>80</string>
				<key>add_rq</key>
				<string>-35</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
