<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bad</key>
	<dict>
		<key>level0</key>
		<array>
			<dict>
				<key>add_rq</key>
				<string>-3</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>蛋蛋的忧伤</string>
				<key>no</key>
				<string>2101</string>
				<key>price</key>
				<string>12</string>
				<key>ratio</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>-5</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>吓你一大跳</string>
				<key>no</key>
				<string>2102</string>
				<key>price</key>
				<string>15</string>
				<key>ratio</key>
				<string>0.33</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>-7</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>臭气熏天</string>
				<key>no</key>
				<string>2103</string>
				<key>price</key>
				<string>18</string>
				<key>ratio</key>
				<string>0.38</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>-10</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>特别小伙伴</string>
				<key>no</key>
				<string>2104</string>
				<key>price</key>
				<string>22</string>
				<key>ratio</key>
				<string>0.45</string>
			</dict>
		</array>
	</dict>
	<key>good</key>
	<dict>
		<key>level0</key>
		<array>
			<dict>
				<key>add_rq</key>
				<string>28</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>好大一条鱼</string>
				<key>no</key>
				<string>1101</string>
				<key>price</key>
				<string>24</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>18</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>甜蜜缤纷</string>
				<key>no</key>
				<string>1102</string>
				<key>price</key>
				<string>18</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>18</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>萌铛铛</string>
				<key>no</key>
				<string>1103</string>
				<key>price</key>
				<string>18</string>
				<key>ratio</key>
				<string>1</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>28</string>
				<key>level</key>
				<string>1</string>
				<key>name</key>
				<string>女神蝴蝶结</string>
				<key>no</key>
				<string>1104</string>
				<key>price</key>
				<string>24</string>
				<key>ratio</key>
				<string>1.2</string>
			</dict>
		</array>
		<key>level1</key>
		<array>
			<dict>
				<key>add_rq</key>
				<string>45</string>
				<key>level</key>
				<string>2</string>
				<key>name</key>
				<string>求陪玩</string>
				<key>no</key>
				<string>1201</string>
				<key>price</key>
				<string>36</string>
				<key>ratio</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>45</string>
				<key>level</key>
				<string>2</string>
				<key>name</key>
				<string>带我飞</string>
				<key>no</key>
				<string>1202</string>
				<key>price</key>
				<string>36</string>
				<key>ratio</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>58</string>
				<key>level</key>
				<string>2</string>
				<key>name</key>
				<string>土豪零食</string>
				<key>no</key>
				<string>1203</string>
				<key>price</key>
				<string>45</string>
				<key>ratio</key>
				<string>1.28</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>58</string>
				<key>level</key>
				<string>2</string>
				<key>name</key>
				<string>萌力无边</string>
				<key>no</key>
				<string>1204</string>
				<key>price</key>
				<string>45</string>
				<key>ratio</key>
				<string>1.28</string>
			</dict>
		</array>
		<key>level2</key>
		<array>
			<dict>
				<key>add_rq</key>
				<string>80</string>
				<key>level</key>
				<string>3</string>
				<key>name</key>
				<string>喷香香</string>
				<key>no</key>
				<string>1301</string>
				<key>price</key>
				<string>58</string>
				<key>ratio</key>
				<string>1.37</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>80</string>
				<key>level</key>
				<string>3</string>
				<key>name</key>
				<string>撒气小兽</string>
				<key>no</key>
				<string>1302</string>
				<key>price</key>
				<string>58</string>
				<key>ratio</key>
				<string>1.37</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>95</string>
				<key>level</key>
				<string>3</string>
				<key>name</key>
				<string>求约会</string>
				<key>no</key>
				<string>1303</string>
				<key>price</key>
				<string>65</string>
				<key>ratio</key>
				<string>1.46</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>95</string>
				<key>level</key>
				<string>3</string>
				<key>name</key>
				<string>暖男围巾</string>
				<key>no</key>
				<string>1304</string>
				<key>price</key>
				<string>65</string>
				<key>ratio</key>
				<string>1.46</string>
			</dict>
		</array>
		<key>level3</key>
		<array>
			<dict>
				<key>add_rq</key>
				<string>140</string>
				<key>level</key>
				<string>4</string>
				<key>name</key>
				<string>温馨小窝</string>
				<key>no</key>
				<string>1401</string>
				<key>price</key>
				<string>88</string>
				<key>ratio</key>
				<string>1.6</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>140</string>
				<key>level</key>
				<string>4</string>
				<key>name</key>
				<string>金饭碗</string>
				<key>no</key>
				<string>1402</string>
				<key>price</key>
				<string>88</string>
				<key>ratio</key>
				<string>1.6</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>200</string>
				<key>level</key>
				<string>4</string>
				<key>name</key>
				<string>深情比金坚</string>
				<key>no</key>
				<string>1403</string>
				<key>price</key>
				<string>100</string>
				<key>ratio</key>
				<string>2</string>
			</dict>
			<dict>
				<key>add_rq</key>
				<string>240</string>
				<key>level</key>
				<string>4</string>
				<key>name</key>
				<string>宇宙第一萌</string>
				<key>no</key>
				<string>1404</string>
				<key>price</key>
				<string>120</string>
				<key>ratio</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
